
.search-wrapper {
    position: relative;
  }
  .logo {
    font-size: x-small !important;
    letter-spacing: 2px !important;
  }
  
  .logo1 {
    margin-top: 29px;
  }
  .name {
    font-size: x-small !important;
  }
  
  .logoutNav {
    font-size: medium;
    margin-left: 20px;
  }
  
  .logoutTitle {
    display: none;
  }
  .dash1 {
    margin-top: 50px;
    height: 500px;
    width: 50vw;
    text-align: center;
  }
  
  .welcomeCard {
    margin-top: 100px;
  }
  
  .create_btn2 {
    background-color: #003153 !important;
    font-size: large;
    color: #ffffff !important;
  }
  
  .search {
    width: 300px;
    border: none;
    padding-left: 1rem;
    border-radius: 12px;
  }
  
  .search-icon {
    position: absolute;
    font-size: 12px;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
  }
  .close {
    position: absolute;
    font-size: larger !important;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .create_btn {
    background-color: #003153 !important;
    font-size: x-small;
    color: #ffffff !important;
  }
  
  .table_title {
    font-size: 15px;
    letter-spacing: 2px !important;
    color: #0070bb;
  }
  
  .table {
    background-color: #fff;
    color: #000000;
  }
  
  .table thead th {
    background-color: #f2f3f4;
  }
  
  .table td,
  .table th {
    vertical-align: middle;
    text-align: center;
  }
  
  .table img {
    border-radius: 50%;
  }
  
  tbody tr {
    border: 1px solid #bbbbbb;
  }
  
  .icon_style1 {
    color: #2285ff !important;
    font-size: medium;
    cursor: pointer;
  }
  .icon_style2 {
    color: #ff2252 !important;
    font-size: medium;
    cursor: pointer;
  }
  
  .page {
    padding-left: 60vw !important;
  }
  
  /* Modal and Modal-Content styles */
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 25px;
    border: none;
    padding: 20px;
    max-width: 90vw;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto; /* Ensures content scrolls if it overflows */
  }
  
  /* Hide the scrollbar but keep scrolling enabled */
  .modal-content::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
  
  .modal-content {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  }
  
  .head {
    background-color: #0070bb !important;
    color: white !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 1rem;
    text-align: center;
  }
  
  .no-data {
    text-align: center !important;
    padding: 20px !important;
  }
  
  .table_body {
    background-color: #f0f8ff !important;
    color: #165985;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px;
  }
  
  /* Media Queries */
  @media (max-width: 1200px) {
    .modal-content {
      width: 110vh !important;
    }
  }
  
  @media (max-width: 800px) {
    .modal-content {
      width: 90vh !important;
      padding: 1.5rem;
    }
  }
  
  @media (max-width: 600px) {
    .modal-content {
      width: 85vw !important;
      padding: 1rem;
    }
  }
  
  @media (max-width: 400px) {
    .modal-content {
      width: 95vw !important;
      padding: 0.8rem;
    }
  }
  
  @media (max-width: 700px) {
    .logoMobile {
      padding-top: 4cm;
      display: contents;
    }
  
    .page {
      padding-left: 48vw !important;
    }
  
    .navBar {
      display: flex;
      flex-direction: row !important;
    }
  
    .search-wrapper {
      position: relative;
      margin-left: 100px !important;
    }
  
    .search {
      width: 300px;
      border: none;
      padding-left: 1rem;
    }
  
    .navStyle {
      display: flex;
      flex-direction: row !important;
      width: 100%;
      justify-content: space-around;
      padding-top: 0;
      margin-top: -11px;
    }
  
    .Nav .nav-link {
      border-radius: 10%;
      color: #ffffff !important;
      width: 20%;
      height: auto;
      padding: 10px;
      display: flex;
    }
  
    .navStyle .nav-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0.5rem;
    }
  
    .navStyle .nav-link i {
      font-size: 1.3rem;
    }
  
    .logoutTitle {
      display: contents;
    }
  
    .photo,
    .logo1 {
      display: none !important;
    }
  
    .navStyle .nav-link span {
      font-size: 0.75rem;
    }
  
    .logoutIcon {
      margin-top: 4px;
    }
  
    .modal-content {
      top: 0px !important;
      left: 0px !important;
      width: 130vh !important;
    }
  }
  
  @media (max-width: 400px) {
    .search-wrapper {
      position: relative;
      margin-left: 5px !important;
    }
  
    .search {
      width: 100px;
      border: none;
      padding-left: 1rem;
    }
  }
  
  @media (max-width: 500px) {
    .search-wrapper {
      position: relative;
      margin-left: 10px !important;
    }
  
    .search {
      width: 300px;
      border: none;
      padding-left: 1rem;
    }
  
    .modal-content {
      top: 0px !important;
      left: 0px !important;
      width: 120vh !important;
    }
  }
  
  @media (max-width: 800px) {
    .modal-content {
      top: 0px !important;
      left: 0px !important;
      width: 120vh !important;
    }
  }
  